<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>ko_KR</string>
	<key>CFBundleDisplayName</key>
        <string>클립러닝</string>
	<key>CFBundleExecutable</key>
        <string>ibeobom</string>
	<key>CFBundleGetInfoString</key>
	<string>Created by Qt/QMake</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
        <key>CFBundleShortVersionString</key>
	<string>22</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLIconFile</key>
			<string></string>
			<key>CFBundleURLName</key>
                        <string>com.codymonster.ibeobom</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb1943540989052487</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLIconFile</key>
			<string></string>
			<key>CFBundleURLName</key>
                        <string>com.codymonster.ibeobom</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>kakao692f1e2e598cab18142f28bca3da2cee</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1.0.2</string>
	<key>FacebookAppID</key>
	<string>1943540989052487</string>
	<key>FacebookDisplayName</key>
        <string>ibeobom</string>
	<key>KAKAO_APP_KEY</key>
	<string>692f1e2e598cab18142f28bca3da2cee</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>kakao692f1e2e598cab18142f28bca3da2cee</string>
		<string>kakaokompassauth</string>
		<string>storykompassauth</string>
		<string>kakaolink</string>
		<string>kakaotalk-5.9.7</string>
		<string>kakaostory-2.9.0</string>
		<string>storylink</string>
		<string>fbapi</string>
		<string>fb-messenger-share-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
		<string>http</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NOTE</key>
	<string>This file was generated by Qt/QMake.</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>게시글 파일 첨부 혹은 프로필 사진 이용을 위해 카메라로 이미지를 촬영해야 합니다</string>
	<key>NSMainNibFile</key>
	<string>LaunchScreen</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>게시글 파일 첨부 혹은 프로필 사진 이용을 위해 포토라이브러리에 이미지를 저장해야 합니다.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>게시글 파일 첨부 혹은 프로필 사진 이용을 위해 포토라이브러리에 접근하여 이미지를 가져와야 합니다.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleDefault</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
